<!DOCTYPE html>
<html>
  <head>
    <title>อะไรดี</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/png" href="/stylesheets/login/favicon.ico"/>
  </head>
  <body>
      <%- include('../manu') %> 
      <br>
     
      <h3><%= data %></h3>
      <!-- <p>
        <% Object.values(BookList).forEach(function(item){ %>
            <h4><b>ชื่อหนังสือ : </b><%= item.title %></h4>
            <b><p>ผู้แต่ง</b> : <%= item.author %></p>
            <b><p>หมวดหมู่</b> : <%= item.category %></p>
            <a href="/books/edit/<%= item._id %>">แก้ไข</a>
            <a href="/books/delete/<%= item._id %>" onclick="return confirm('ต้องการลบหรือไม่ ?')">ลบ</a>
            <hr>
        <% }) %>
      </p> -->

      <table class="table table-bordered table-striped">
        <thead>
          <tr class="_center">
            <th scope="col">ลำดับ</th>
            <th scope="col">รหัสหนังสือ</th>
            <th scope="col">ชื่อหนังสือ</th>
            <th scope="col">ผู้แต่ง</th>
            <th scope="col">หมวดหมู่</th>
            <th class="_width_icon" scope="col">จำนวน(เล่ม)</th>
            <th class="_width_icon" scope="col">แก้ไข</th>
            <th class="_width_icon" scope="col">ลบ</th>
          </tr>
        </thead>
        <tbody>
            <% Object.values(BookList).forEach(function(item,index){ %>
            <tr>
              <th class="_width_icon" scope="row"><%= (index)+1 %></th>
              <td><%= item.code %></td>
              <td><%= item.title %></td>
              <td><%= item.author %></td>
              <td><%= item.category %></td>
              <td class="text-center"><%= item.total_books %></td>
              <td class="text-center"><a href="/books/edit/<%= item._id %>"><i class="fa fa-plus-circle _fs_icon"></i></a></td>
              <td class="text-center">
                <a href="/books/delete/<%= item._id %>"  onclick="return confirm('ต้องการลบหรือไม่ ?')">
                  <i class="fa fa-trash _fs_icon text-danger"></i>
                </a>
              </td> 
            </tr>
            <% }) %>
        </tbody>
      </table>

      <hr>

  </body>
</html>
